{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<section id="FondInscription">

		<div id="cadreInscriptionTitre">
			<h1>Nains !</h1>
		</div>

		<a id="btnConnexion" href="{{ path('app_login') }}">Connexion</a>

		<a id="btnInscription" href="{{ path('app_register') }}">Inscription</a>


		<div id="cadreInscriptionText">
			<p>
				Venez battre le fer et défendre votre forteresse contre les horribles peaux vertes !</p>
		</div>

	</section>
{% endblock %}
