{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <section id="FondInscription">

        <div id="cadreInscriptionTitre">
            <h1>Nains !</h1>
        </div>

        <button id="btnConnexion" onclick="window.location.href = '/login';">Connexion</button>

        <button id="btnInscription" onclick="window.location.href = '/register';">Inscription</button>


        <div id="cadreInscriptionText">
            <p> Venez battre le fer et défendre votre forteresse contre les horribles <br> peaux vertes !</p>
        </div>

    </section>
{% endblock %}
