                                                  // GENERAL
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

                                                  // HOME

#FondInscription{
  background-image: url('../images/forteresse1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#cadreInscriptionTitre{
  position: absolute;
  top: 5em;
  left:10em;
}

#cadreInscriptionTitre h1{
  font-size: 7em;
  font-weight: bold;
}

#cadreInscriptionText{
  position: absolute;
  top: 45em;
  left: 60em;
}

#cadreInscriptionText p{
  font-size: 2em;
  font-weight: bold;
}

#btnConnexion{
  position: absolute;
  top: 12em;
  left: 10em;

  background-color:#17788e;
  border-radius:42px;
  border:1px solid black;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:20px;
  padding:20px 50px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}

btnConnexion:hover{
  background-color:#000000;
}

#btnInscription{
  position: absolute;
  top: 17em;
  left: 10em;

  background-color:#17788e;
  border-radius:42px;
  border:1px solid black;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:20px;
  padding:20px 50px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}

btnInscription:hover{
  background-color:#000000;
}

                                              // HOME MEDIA QUERY

@media screen and ( max-width: 1440px ) {
  #cadreInscriptionText{
    position: absolute;
    top: 35em;
    left: 50em;
  }
}

@media screen and ( max-width: 1024px ) {
  #cadreInscriptionText{
    top: 32em;
    left: 30em;
  }

}

@media screen and ( max-width: 768px ) {
  #cadreInscriptionText{
    top: 26em;
    left: 3em;
  }

  #cadreInscriptionTitre{
    top: 2em;
    left:20em;
  }

  #cadreInscriptionTitre h1{
    font-size: 8em;
  }

  #btnConnexion {
    top: 6em;
    left: 12em;
    font-size:30px;
  }

  #btnInscription {
    top: 10em;
    left: 12em;
    font-size:30px;
  }

  #cadreInscriptionText p{
    font-size: 3em;
  }

}

@media screen and ( max-width: 320px ) {
#cadreInscriptionText{
  top: 130em;
  left: 3em;
}

#cadreInscriptionText p{
  font-size: 5em;
}

#cadreInscriptionTitre{
  top: 8em;
  left:5em;
}

#cadreInscriptionTitre h1{
  font-size:18em;
}

#btnConnexion {
  top: 6em;
  left: 2.3em;
  font-size:6em;
}

#btnInscription {
  top: 10em;
  left: 2.3em;
  font-size:6em;
}



}





// INSCRIPTION

#fondInscription{

}

#fondInscriptionTitre{

}

#FormInscription{

}

// CONNEXION


                                                  // FORUM

#btnForum{
  position: absolute;
  top: 12em;
  left: 10em;

  background-color:#17788e;
  border-radius:42px;
  border:1px solid black;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:20px;
  padding:20px 50px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}

btnForum:hover{
  background-color:#000000;
}

