// *{
//   outline: blue 1px solid;
// }

#homepage{
  background-image: url('../images/forteresse1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100vw;
}

#btnConnexion{
  background-color:#17788e;
  border-radius:50px;
  border:1px solid black;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  padding:10px 40px;
  text-decoration:none;
}

#btnConnexion:hover{
  background-color:#167E49;
}

#btnInscription{
  background-color:#17788e;
  border-radius:50px;    
  border:1px solid black;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  padding:10px 40px;
  text-decoration:none;
}

#btnInscription:hover{
  background-color:#167E49;
}

#space{
  height: 30vh;

}

// MEDIA QUERY

@media screen and (max-width: 1500px) {

  #space{
    display:none;
  }
}


@media screen and (max-width: 425px) {

  #homepage p{
    display:none;
  }
}