{% extends 'base.html.twig' %}

{% block title %}New Message
{% endblock %}

{% block body %}
	<h1>Créer un nouveau message</h1>

	{{ include('message/_form.html.twig') }}

	<a href="{{ path('app_forum') }}">Retour au Forum</a>
{% endblock %}


{# A FAIRE : Transformer cela pour répondre directement avec un formulaire inclu dans le topic et ne plus utiliser de bouton pour répondre ! #}
