<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="{{ path('app_centre') }}">Nains !</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_forum') }}">Forum</a>
			</li>
		</ul>

	</div>
	<form class="form-inline my-2 my-lg-0">
		<input class="mr-sm-2 flex-grow-1" type="search" placeholder="Recherche" aria-label="Search">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
	</form>

	<a href="{{ path('app_logout') }}" class="btn btn-danger ml-3">Déconnexion</a>
</nav>
